rs.initiate(
  {
    _id : "{{ replicaset_name }}",
    members: [
    {% for host in groups['replication_servers'] %}
      { _id : {{loop.index}}, host: "{{host}}:{{mongod_port}}" },
    {% endfor %}
    ]
  }
)
